   <p> </p>
  <div class="row">
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-4">

          @Html.TextBox("file", "", new { type = "file" }) <br />

          <input type="submit" value="Upload & Recognise" />

          @ViewBag.Message

        </div>
    }
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="@ViewBag.Img" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <b>Recognition result</b>
      <p>
        @ViewBag.Description
      </p>
      <p>
        @if (ViewBag.Tags != null)
        {
          foreach (var tag in ViewBag.Tags)
          {
                <span style="color:gray">@tag</span>;
          }
        }
      </p>
    </div>

  </div>
